body {
    font-family: 'Rancho', cursive;
    background: url(../img/ContactBackground.jpg);
    background-size: cover;
    background-position: stretch;
    background-repeat: no-repeat;
    
}
i {
    color: white;
}
.navbar-brand {
    font-size: 32px;
    margin-bottom: 1%;  
}

nav li  a {
    font-size: 25px;
}
.row {
    margin-top: 10%;
}
.contact-info {
    width: 85%;
    margin: 0 auto;
    margin-top: 19%; 
    margin-bottom: 12%;  
}
.address{background:rgba(216,186,160, .8);}
.phone{background: rgba(147,133,117, .8);}
.email{
    margin-bottom: 2%;
    background: rgba(43,36,37, .8);
}
.item {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 10%;  
}
h2, h4, p {
    color: white;  
}
h2 {
    font-weight: bold;
    font-size: 2.5em;
}
h4 {
    font-size: 2em;
}
p {
    font-size: 1.7em;
}
@media (min-width: 575px) {
    .contact-info {
        width: 65%;
    }
}
@media (min-width: 745px) {
    .contact-info {
        width: 58%;
    }
}
@media (min-width: 1215px) {
    .contact-info {
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin-top: 12%; 
    }
    .item {
        min-width: 300px;
        min-height: 300px;
        margin-bottom: 0px;
    }
}
.item i {
    margin-top: 8%;
}


