i {
    color: white;
}
.navbar-brand {
    font-size: 32px;
    margin-bottom: 1%;
}

nav li  a {
    font-size: 25px;
}
.row {
    margin-top: 10%;
}
body {
    background: url(https://scontent-atl3-1.xx.fbcdn.net/v/t1.0-9/321490_513375485373984_593712216_n.jpg?_nc_cat=100&_nc_ht=scontent-atl3-1.xx&oh=fadabb854d0795e372acaa04860be35c&oe=5D2ABBE2);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Rancho', cursive;
    color: white;
}
html {
    height: 100%;
}
#content {
    text-align: center;
    padding-top: 25%;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
                 0px 8px 13px rgba(0, 0, 0, 0.1),
                 0px 18px 23px rgba(0, 0, 0, 0.1);

}
#words {
    background: rgba(0, 0, 0, .4);
}
h1 {
    font-weight: 700;
    font-size: 6em;
   
}
h3 {
    font-size: 3em;
}

hr {
    width: 175px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0, 0, 0, .2)
}